<%- include('../include/header.ejs') %>
<%- include('../include/navHeader.ejs')%>

<div id="section-landing">
    <div class="wrapper-landing-Blog">
        <p class="notFoundBlog"> Somthing went Wrong :( <br> 404</p>
    </div>
</div>
<%-  include('../include/footer.ejs')%> 