<%- include('../include/header.ejs') %>

<%- include('../include/navHeader.ejs')%>

<div id="section-landing">
    <div class="wrapper-landing">
        <h1 id="printUser"> Somthing went Wrong :( <br> 404</h1>
    </div>
</div>
<%-  include('../include/footer.ejs')%> 