<%- include('../include/header.ejs') %>

<%- include('../include/navHeader.ejs')%>

<div id="section-landing">
    <div class="wrapper-landing-blog">
        <p class="notFoundBlog">this page does't exist </p>
    </div>
</div>
<%-  include('../include/footer.ejs')%> 