<%- include('./include/header.ejs') %>

<%- include('./include/navHeader.ejs')%>

<div id="section-landing">
<div class="container-login">
    <div class="wrapper-login">
        <h1>Register</h1>
        <p class="options">If you have an account <a href="./login">LOGIN NOW</a>.</p>
        <form id="register-form" action="" method="POST">
            <input type="text" name="userName" placeholder="USER NAME" required>
            <input type="text" placeholder="Email" name="email" required>
            <input type="password" name="password" placeholder="Password" required >
            <input type="password" name="confPassword" placeholder="Confirm Password" required>
            <button id="submit" type="submit" value="submit">Register</button>
        </form>
    </div> 
</div>
</div>
<%-  include('./include/footer.ejs')%>