<div class="copyright">
    <p>
        Copyright <span class="copyright__Symblo">©</span> 2021 <span class="copyright__Symblo">|</span> Bilal
    </p>
</div>

<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
AOS.init();
</script> -->
<script src="https://mciastek.github.io/sal/dist/sal.js"></script>
<script>
    sal({
        once: false,
        threshold: 0.5,
        repeat: true,
    });
</script>
</body>
</html>