<%- include('../include/header.ejs') %>
<%- include('../include/navHeader.ejs')%>

<div id="section-landing">
        <div class="searchDiv">
            <form class="searchForm" action="" method="POST">
                <input class="searchBar" type="text" name="searchTitle" placeholder="blog title">
                <button class="searchBtn" type="submit">search</button>
            </form>
        </div>
</div>

<%-  include('../include/footer.ejs')%> 